.navbar-default {
	background-color: #f9d9ad;
	border-color: #faca9f;
}
.navbar-default .navbar-brand {
	color: #ce6d69;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #caaa8d;
}
.navbar-default .navbar-text {
	color: #ce6d69;
}
.navbar-default .navbar-nav > li > a {
	color: #ce6d69;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #caaa8d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #caaa8d;
	background-color: #faca9f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #caaa8d;
	background-color: #faca9f;
}
.navbar-default .navbar-toggle {
	border-color: #faca9f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #faca9f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ce6d69;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ce6d69;
}
.navbar-default .navbar-link {
	color: #ce6d69;
}
.navbar-default .navbar-link:hover {
	color: #caaa8d;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ce6d69;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #caaa8d;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #caaa8d;
		background-color: #faca9f;
	}
}